-unless @searched.blank? or @searched == @word.chars_trad or @searched == @word.chars_simp
  #translation-notice.alert.alert-success
    You searched
    %b
      ='"' + (@searched) + '"'
    and that directly translated to:
    =succeed "." do
      %b=@word.chars_trad
      -unless @word.chars_trad == @word.chars_simp
        ="(#{@word.chars_simp})"
    If you would like to see all results for
    ='"' + (@searched) + '"'
    perform a
    =(link_to "Full Search", "/search?utf8=%E2%9C%93&q=#{@searched}&all=true") + "."

#full-chars.text-center
  %span
    .chars-trad
      =@word.chars_trad
      %h6
        Traditional
        -if @word.chars_trad == @word.chars_simp
          &
          Simplified

  -unless @word.chars_trad == @word.chars_simp || @word.chars_simp.blank?
    %span
      .chars-simp

        ="(#{@word.chars_simp})"
        %h6
          Simplified

%dl#word-info.dl-horizontal
  -if @word.jyutping
    %dt
      Jyutping
    %dd
      =build_jyutping(@word)
  -if @word.more_info.try(:sound_url).present?
    %dt
      Sentence Sound Clip
    %dd
      %a.sm2_button{:href => "http://bigspace.celerity.co.uk/cantonese" + @word.more_info.try(:sound_url)}
  %dt
    English
  %dd
    %ol
      %li
        =@word.english
      -if @word.english_2.present?
        %li
          =@word.english_2

  -if @word.stroke_image.file?
    %dt
      Stroke Order
    %dd.stroke-image
      =image_tag @word.stroke_image.url

  -if @word.subwords.present?
    %dt
      Individual Words

    %dd  
      %table
        -@ordered_subs.each do |word|
          %tr
            %td
              = link_to word.chars_trad, word_path(word), class: "example-chars"
            %td
              =build_jyutping(word)
            %td
              =word.english

  -if @word.compounds.present?
    %dt
      Example Sentences

    %dd  
      %table
        -@word.compounds.sound_ordered_info.each do |compound|
          %tr
            %td.example-play
              -if compound.more_info.try(:sound_url).present?
                %a.sm2_button{:href => "http://bigspace.celerity.co.uk/cantonese" + compound.more_info.try(:sound_url)}
            %td
              = link_to compound.chars_trad, word_path(compound), class: "example-chars"
              / .example-chars
              /   =compound.chars_trad
            %td
              =compound.english
          -#
            %td
              =link_to "Link", word_path(compound)